@model IEnumerable<cis237inclass6.Models.Car>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!-- This is a filter for the output sorting -->
<div class="form-group">
    <fieldset>
        <legend>SEARCH FILTER</legend>
        <!-- This is C# Code -->
        @{
            @*// open up a form that will go to the filter method'*@
                    @*// on the Cars controller with a post request*@
                    using (Html.BeginForm("Filter", "Cars", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        @*// render out the anti-forgery token*@
                        @Html.AntiForgeryToken()
                        
                        // adding string cast for viewbag returns the filter in the text box
                        <label for="make">Make</label>
                        @Html.TextBox("make", (string)ViewBag.filterMake)
                        <label for="min">Minimum Cylinders</label>
                        @Html.TextBox("min", (string)ViewBag.filterMin, new { @type = "number" })
                        <label for="max">Maximum Cylinders</label>
                        @Html.TextBox("max", (string)ViewBag.filterMax, new { @type = "number" })
                        // <br />
                        <input type="submit" value="filter" class="btn btn-info pull-right" />
                    }
                }
            </fieldset>
        </div>

        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                    <th>
                        Year
                        @* Html.DisplayNameFor(model => model.year) } *@
            </th>
            <th>
                Make
                @* @Html.DisplayNameFor(model => model.make) *@
            </th>
            <th>
                Model
                @* @Html.DisplayNameFor(model => model.model) *@
                    </th>
            <th>
                Type
                @* @Html.DisplayNameFor(model => model.type)*@
            </th>
            <th>
                Horsepower
                @* @Html.DisplayNameFor(model => model.horsepower)*@
                    </th>
                    <th>
                        Cylinders
                        @* @Html.DisplayNameFor(model => model.cylinders)*@
                    </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.horsepower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cylinders)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
                @Html.ActionLink("Details", "Details", new { id=item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>
